---
import Button, {type Props as ButtonProps} from '~components/ui/Button.astro'
import type {Link} from '~constants/navigation'

export interface Props extends Omit<Link, 'href'>, Omit<ButtonProps<'a'>, 'title'> {
  selected: boolean
  hideIcon?: boolean
}

const {href, title, button, selected, size = 'md', full = false, ...rest} = Astro.props
---

<li
  class:list={{
    'text-primary-light pointer-events-none': selected && !button,
    'btn-ghost hover:text-primary-light hover:opacity-80 active:opacity-100': !selected && !button,
    contents: button,
  }}
>
  {
    button ? (
      <Button size={size} {...rest} full={full} tag='a' href={href}>
        {title}
      </Button>
    ) : (
      <a href={href} class='text-lg font-bold'>
        {title}
      </a>
    )
  }
</li>
