---
import Card from '~components/Card.astro'
import Layout from '~layouts/Layout.astro'
import { resJson } from '~utils'
import { DATA_URL } from '~utils/constants'

export async function getStaticPaths() {
  const languagesList = await fetch(DATA_URL + '/languages.json').then(resJson)
  // get questions for each language
  const fetches = Object.entries(languagesList).map(([lang, name]) =>
    fetch(DATA_URL + `/${lang}.json`)
      .then(resJson)
      .then((questions) => ({
        params: { lang },
        props: { questions, langName: name },
      }))
  )

  return await Promise.all(fetches)
}

const { questions, langName } = Astro.props
const { lang } = Astro.params
---

<Layout title='question'>
  <main>
    <ul>
      <h1>{langName} ({lang})</h1>
      {
        Object.entries(questions).map(([id, question]) => (
          <Card
            href={`${Astro.url.pathname}/${id}`}
            title={id}
            body={question as string}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
</style>
