---
export const prerender = true
import Card from '~components/Card.astro'
import Layout from '~layouts/Layout.astro'
import languages from 'public/data/languages.json'

export async function getStaticPaths() {
  return Object.entries(languages).map(([langCode, langName]) => ({
    params: {lang: langCode},
    props: {
      name: langName,
    },
  }))
}

const {lang: language} = Astro.params
const {name} = Astro.props

const allQuestions = await Astro.glob(
  '../../../../public/data/languages/*.json'
)
const questions = allQuestions.find(qs => qs.language === language)?.questions
---

<Layout title='question'>
  <main>
    <ul>
      <h1>{name} ({language})</h1>
      {
        Object.entries(questions).map(([id, question]) => (
          <Card
            href={`${Astro.url.pathname}/${id}`}
            title={id}
            body={question as string}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
</style>
