---
import TextSection from '~components/TextSection'
import Layout from '~layouts/Layout.astro'
import type {SanityPage} from '~types/Sanity'
import {urlForImage, usePagesCMS} from '~utils/sanity'

export async function getStaticPaths() {
  const pages = await usePagesCMS()

  return pages.map(({url, ...data}) => ({
    params: {slug: url.current},
    props: {data},
  }))
}

const {slug} = Astro.params
const data: SanityPage = Astro.props.data
---

<Layout class='mx-auto mt-10 md:max-w-3xl' align='justify-start'>
  <h1
    class='text-gradient my-12 font-title text-7xl font-extrabold uppercase leading-none tracking-tight text-white md:my-24 md:text-8xl xl:text-9xl'
  >
    {data.title}
  </h1>

  <img src={urlForImage(data.image).url()} class='' alt={data.image.alt} />
  {data.textSections.map((section) => <TextSection section={section} />)}
</Layout>
