---
import Icon from 'astro-icon'
import cardsImage from '~assets/images/cards.png'
import humanityImage from '~assets/images/humanity.png'
import teamImage from '~assets/images/team.png'
import PreOrderCards from '~components/Purchase/PreorderCards.astro'
import PreorderSection from '~components/Purchase/PreorderSection.astro'
import PreorderSectionImage from '~components/Purchase/PreorderSectionImage.astro'
import Testimonials from '~components/Purchase/Testimonials.astro'
import Usage from '~components/Purchase/Usage.astro'
import WhatCard from '~components/Purchase/WhatCard.astro'
import Accordion from '~components/ui/Accordion.astro'
import Button from '~components/ui/Button.astro'
import RoundedImage from '~components/ui/RoundedImage.astro'
import WhoCard from '~components/ui/WhoCard.astro'
import {faqs} from '~constants/faqs'
import Layout from '~layouts/LayoutPreorder.astro'
---

<Layout
  title='Pre-Order'
  class='relative'
  description='Donate to the WhoCards and receive one of the 1000 cards decks by the Holiday Season.'
>
  <!-- TODO background -->
  <Icon name='pattern-mobile' class='absolute top-0 left-0 right-0 -z-10 lg:hidden' />
  <div
    class='flex flex-col gap-4 lg:gap-5 px-8 pt-16 max-w-5xl lg:items-center xs:h-screen h-[calc(100vh-13rem)] lg:h-[calc(100vh-21rem)] lg:min-h-[35rem] justify-center'
  >
    <h1
      class='text-center font-title font-bold text-white text-4xl lg:text-7xl leading-10 xs:text-2xl'
    >
      Let's create waves of meaningful <br class='hidden lg:block' /><span class='text-gradient'
        >connections</span
      > across the world
    </h1>
    <p
      class='text-center text-sm lg:text-lg font-semibold xs:leading-normal leading-7 pb-2 lg:px-10'
    >
      WhoCards is on the mission to transform social interactions by encouraging greater openness,
      vulnerability and authenticity. Join us spreading this mission by pre-ordering WhoCards and
      gifting away at least a pack to someone who'll treasure it.
    </p>
    <div class='flex flex-col lg:flex-row gap-4 lg:gap-5 lg:pt-5'>
      <Button tag='a' href='#support-us'>Pre-Order Now</Button>
      <Button tag='a' href='#what-is-who-cards' class='w-full' light hideIcon variant='secondary'>
        Learn More
      </Button>
    </div>
  </div>
  <div
    class='flex gap-10 overflow-x-scroll overflow-y-hidden h-52 lg:h-[21rem] w-screen scrollbar-hide justify-center'
  >
    <WhoCard lang='en' id='1' />
    <WhoCard lang='en' id='2' />
    <WhoCard lang='en' id='3' />
    <WhoCard lang='en' id='4' />
    <WhoCard lang='en' id='5' />
    <WhoCard lang='en' id='6' />
    <WhoCard lang='en' id='7' />
    <WhoCard lang='en' id='8' />
    <WhoCard lang='en' id='9' />
  </div>
  <PreorderSection
    subtitle='what is who cards'
    title='Unlock Deep Conversations and Meaningful Connections'
    description='WhoCards offers 66 carefully curated questions, empowering you to transform your interactions with people from social gatherings to professional settings. The courageous questions and playful guidelines of WhoCards create an atmosphere where you can relax, open up and get to know each other better.'
  >
    <div class='grid lg:grid-flow-col gap-4 lg:gap-8 lg:grid-cols-4'>
      <WhatCard icon='cards' title='Play with Anyone'>
        Establish new connections or uncover deeper aspects of those you believe you already know,
        all by asking one of the "Who Are You" questions.
      </WhatCard>
      <WhatCard icon='group-chat' title='Courageous Conversations'>
        Practice speaking what's true to you and actively listen to others as they do the same.
        Enter the warm hum of mutuality and experience belonging like never before.
      </WhatCard>
      <WhatCard icon='group' title='Multiple Ways'>
        WhoCards easily finds its place among friends and family, social gatherings or workshops,
        team meetings and coaching conversations.
      </WhatCard>
      <WhatCard icon='star-circle' title='Take the Lead'>
        Most people enjoy the experience facilitated by WhoCards, and it only requires you to draw a
        card and initiate the game.
      </WhatCard>
    </div>
  </PreorderSection>

  <PreorderSectionImage
    subtitle='why?'
    title='Humanity needs more meaningful and authentic connections'
    description={`We strongly believe that in this age of disruption and complexity, when our differences are used to keep us separate, one of the most courageous things we can do is show up for others with authenticity, vulnerability, and openness. When you pre-order WhoCards you're joining us on our missionby gifting at least a pack to someone special who'll treasure it. Click the Pre-Order button to choose your packs and help us make WhoCards happen through our Open Collective fundraising page.`}
  >
    <RoundedImage alt='people stacking their hands' src={humanityImage} />
    <Button tag='a' href='#support-us' slot='button'>Pre-Order Now</Button>
  </PreorderSectionImage>

  <PreorderSectionImage
    subtitle='Our story'
    title='The power of human connections'
    description={`In 2016, a dynamic, self-organized laboratory called Amanitas was born in order to explore radical collaboration and emergence for our future humanity. Amanitas was inspired by the superpowers and patterns of the natural world. Throughout a series of retreats, a community house and co-created events, we learnt, played and experimented around a core belief: That positive change does not originate from any single individual, rather it ebbs and flows as a force which guides a living system.`}
    reverse
  >
    <RoundedImage alt='a team of people' src={teamImage} />

    <Button tag='a' href='#testimonials' slot='button' variant='secondary' light>Read more</Button>
  </PreorderSectionImage>

  <PreorderSectionImage subtitle='How to play?' title='Different ways to engage' reverse>
    <RoundedImage
      src={cardsImage}
      alt='a set of whocards'
      slot='image-description'
      class='mt-6'
      full
    />
    <Usage />
  </PreorderSectionImage>

  <PreorderSection
    subtitle='testimonials'
    title='Why do people love to play WhoCards?'
    class='lg:pb-10 pb-4'
  >
    <Testimonials slot='outside' />
  </PreorderSection>

  <PreorderSection
    title='Donate to Make it Happen'
    subtitle='support us'
    description='Choose your package, click the Pre-Order button and help us make WhoCards happen through our Open Collective fundraising page.'
  >
    <PreOrderCards />
  </PreorderSection>

  <PreorderSectionImage
    title='Questions? Answers.'
    subtitle='faqs'
    description='Do you have other questions?'
    class='pb-12 lg:pt-0'
  >
    <Accordion name='faqs' contents={faqs} slot='end' />
  </PreorderSectionImage>

  <div class='px-5 pb-12 w-full'>
    <div
      class='rounded-3xl items-center border border-gray-dark pt-16 relative lg:min-h-[80vh] overflow-hidden'
    >
      <Icon name='pattern-mobile' class='absolute top-0 left-0 right-0 -z-10 lg:hidden' />
      <div class='flex flex-col w-full h-full lg:items-center lg:gap-5'>
        <h3
          class='px-5 text-gradient text-center font-title text-4xl lg:text-[54px] lg:leading-normal font-extrabold leading-10 text-white'
        >
          Preorder today
        </h3>
        <p class='px-5 text-center pt-5 text-sm leading-snug pb-10 max-w-xl'>
          WhoCards is on the mission to transform social interactions to become more open,
          vulnerable and authentic. Join us spreading this mission by pre-ordering WhoCards and
          gifting away at least a pack to someone who'll treasure it.
        </p>
        <span class='px-5'>
          <Button tag='a' href='#support-us'>Pre-Order Now</Button>
        </span>
        <div
          class='w-full h-60 lg:h-96 overflow-hidden mt-auto mx-auto flex items-end justify-center'
        >
          <div class='relative w-[165px] lg:w-[16.5rem] h-1'>
            <WhoCard
              lang='en'
              id='66'
              class='absolute -bottom-8 mx-auto left-0 right-0 z-10 shadow-xl shadow-darker'
            />
            <WhoCard
              lang='en'
              id='65'
              class='absolute -bottom-16 lg:-bottom-24 -left-36 lg:-left-60 -rotate-12'
            />
            <WhoCard
              lang='en'
              id='64'
              class='absolute -bottom-16 lg:-bottom-24 -right-36 lg:-right-60 rotate-12'
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
