---
import Icon from 'astro-icon'
import ModalBase from './ModalBase.astro'
import langugages from '~data/languages.json'
import {getCurrentLanguage} from '~utils/language'

// handle paths / and /en
const currentPath = Astro.url.pathname.slice(1)
const currentLang = getCurrentLanguage(currentPath)
---

<ModalBase title='Choose your language'>
  <section
    class='grid grid-cols-1 overflow-y-auto pb-4 md:grid-flow-col md:grid-cols-3 md:grid-rows-5 md:pb-2'
    style='max-height: calc(100vh - 4rem)'
  >
    {
      Object.entries(langugages).map(([key, name]) => (
        <a
          href={'/' + (currentPath.replace(currentLang, key) || key)}
          class:list={[
            {'text-primary-dark active-language': key === currentLang},
            'btn-ghost h-16 w-full flex items-center px-4 who-modal',
          ]}
          data-lang={key}
        >
          {name}
          {key === currentLang && <Icon name='zondicons:checkmark' class='ml-2 h-4 w-4' />}
        </a>
      ))
    }
    <div class='flex h-16 flex-col justify-center px-4 opacity-50'>
      Japanese<br /><span class='text-sm'>coming soon&hellip;</span>
    </div>
  </section>
</ModalBase>

<script>
  import {idsStore} from '~stores/Game.store'
  import {getFirstQuestionUrl} from '~utils'

  // select language and play from landing page
  document.querySelectorAll('a.who-modal').forEach((element) => {
    element.setAttribute(
      'href',
      getFirstQuestionUrl(idsStore.get().current, (element as HTMLElement).dataset.lang)
    )
  })
</script>
