---
import Icon from 'astro-icon'
import langugages from '~data/languages.json'
import {getCurrentLanguage} from '~utils/language'

// handle paths / and /en
const currentPath = Astro.url.pathname.slice(1)
const currentLang = getCurrentLanguage(currentPath)
---

<input
  type='checkbox'
  id='who-modal'
  class='modal-toggle'
  aria-label='modal toggle'
  checked={false}
/>
<div role='dialog' class='modal'>
  <label class='fixed top-0 right-0 bottom-0 left-0 z-30 cursor-pointer' for='who-modal'></label>
  <div
    class='z-40 h-full w-full bg-white text-darker md:h-fit md:max-w-2xl md:rounded-lg phone-landscape:max-w-full'
  >
    <div class='flex h-16 items-center justify-between pl-4 pr-3'>
      <h3 class='text-2xl font-bold'>Choose your language</h3>
      <label for='who-modal' class='btn-ghost btn-circle btn'>
        <Icon name='ic:round-close' class='h-8 w-8 cursor-pointer' />
      </label>
    </div>
    <section
      class='grid grid-cols-1 overflow-y-auto pb-4 md:grid-flow-col md:grid-cols-3 md:grid-rows-5 md:pb-2'
      style='max-height: calc(100vh - 4rem)'
    >
      {
        Object.entries(langugages).map(([key, name]) => (
          <a
            href={'/' + (currentPath.replace(currentLang, key) || key)}
            class:list={[
              {'text-primary-dark active-language': key === currentLang},
              'btn-ghost h-16 w-full flex items-center px-4 who-modal',
            ]}
            data-lang={key}
          >
            {name}
            {key === currentLang && <Icon name='zondicons:checkmark' class='ml-2 h-4 w-4' />}
          </a>
        ))
      }
      <div class='flex h-16 flex-col justify-center px-4 opacity-50'>
        Japanese<br /><span class='text-sm'>coming soon&hellip;</span>
      </div>
    </section>
  </div>
</div>

<script>
  import {getCurrentQuestionUrl} from '~utils'

  // select language and play from landing page
  document.querySelectorAll('a.who-modal').forEach((element) => {
    element.setAttribute('href', getCurrentQuestionUrl((element as HTMLElement).dataset.lang))
  })

  const buttons = document.querySelectorAll('.who-modal')
  const target = document.querySelector('#who-modal') as HTMLInputElement

  const toggleChecked = () => {
    target.checked = !target.checked
  }

  buttons.forEach((button) => button.addEventListener('click', toggleChecked))
</script>
