---
import {Icon} from 'astro-icon'
import {getCurrentLanguage} from '~utils/language'
import NavLink from './Buttons/NavLink.astro'
const home = getCurrentLanguage(Astro.url.pathname)
const isQuestionPage = Astro.url.pathname.includes('question')

const links: Record<string, string>[] = [
  {href: home, title: 'Home'},
  {href: '/mission', title: 'Mission'},
  {href: '/print', title: 'Print'},
]
---

<div class='drawer drawer-end'>
  <input id='who-drawer' type='checkbox' class='drawer-toggle' aria-label='sidebar toggle' />
  <div class='drawer-content transition-all' id='main'>
    <!-- Navbar -->
    <div class='navbar fixed h-16 justify-between bg-transparent pr-4 pl-0 md:px-4'>
      <a href={`/${home}`} aria-label='homepage link' class='btn-ghost btn'>
        <Icon name='logo' class='w-36' />
      </a>
      <div class:list={['flex-none hidden', {' lg:block': !isQuestionPage}]}>
        <ul class='menu menu-horizontal'>
          <!-- Navbar menu content here -->
          {
            links.map((link) => (
              <li>
                <NavLink {...link} selected={Astro.url.pathname === link.href} />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <!-- main content -->
    <slot />
  </div>
  <div class='drawer-side'>
    <label for='who-drawer' class='drawer-overlay'></label>
    <ul class='menu w-80 bg-dark py-10'>
      <!-- Sidebar content here -->
      {
        links.map((link) => (
          <li>
            <a href={link.href}>{link.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<!-- hamburger menu -->
<div class:list={['flex-none fixed right-1 md:right-5 top-2 z-10', {'lg:hidden': !isQuestionPage}]}>
  <label class='right swap btn-ghost swap-rotate btn-square btn' id='who-menu-button'>
    <!-- hamburger icon -->
    <svg
      class='swap-off fill-current'
      xmlns='http://www.w3.org/2000/svg'
      width='32'
      height='32'
      viewBox='0 0 512 512'
      ><path d='M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z'></path></svg
    >

    <!-- close icon -->
    <svg
      class='swap-on fill-current'
      xmlns='http://www.w3.org/2000/svg'
      width='32'
      height='32'
      viewBox='0 0 512 512'
      ><polygon
        points='400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49'
      ></polygon></svg
    >
  </label>
</div>

<script>
  const button = document.getElementById('who-menu-button')!
  const drawer = document.getElementById('who-drawer')! as HTMLInputElement

  button.addEventListener('click', (e) => {
    e.preventDefault()
    drawer.checked = !drawer.checked
    button.classList.toggle('swap-active')
  })
</script>
