---
const {id, language} = Astro.params
const site = Astro.site

const canonicalUrl = new URL(Astro.url.pathname, site)

// non question pages
let title = 'WhoCards'
let description = 'Bringing connection into our lives'
let image = `whocards-social.png`

// question pages
if (id) {
  title += ` | Question #${id}`
  description = 'Dare to Open Up?'
  image = `${language}/${id}.png`
}
// complete image url
image = `${site}/images/` + image
---

<!-- Global Metadata -->
<meta charset='utf-8' />
<meta name='viewport' content='width=device-width' />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name='title' content={title} />
{description && <meta name='description' content={description} />}
<link rel='canonical' href={canonicalUrl} />

<!-- Favicon -->
<link
  rel='icon'
  type='image/svg+xml'
  href='/favicons/favicon-light.svg'
  media='(prefers-color-scheme: light)'
/>
<link
  rel='icon'
  type='image/svg+xml'
  href='/favicons/favicon-dark.svg'
  media='(prefers-color-scheme: dark)'
/>
<link rel='apple-touch-icon' href='/apple-touch-icon.png' />
<link rel='icon' href='/favicon.ico' sizes='any' />

<!-- Open Graph -->
<meta property='og:type' content='website' />
<meta property='og:url' content={canonicalUrl} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
<meta property='og:image' content={image} />
<meta property='og:image:width' content='1200' />
<meta property='og:image:height' content='630' />
<meta property='og:locale' content={language} />

<!-- Twitter -->
<meta property='twitter:card' content='summary_large_image' />
<meta property='twitter:url' content={canonicalUrl} />
<meta property='twitter:title' content={title} />
<meta property='twitter:description' content={description} />
<meta property='twitter:image' content={image} />

<!-- generator -->
<meta name='generator' content={Astro.generator} />

<!-- Analytics -->
<script>
  // import * as amplitude from '@amplitude/analytics-browser'
  // import {AMPLITUDE_API_KEY} from '~utils'

  // if (AMPLITUDE_API_KEY) {
  //   amplitude.init(AMPLITUDE_API_KEY, undefined, {
  //     defaultTracking: {sessions: true, pageViews: true, formInteractions: true},
  //   })
  // }
</script>
