---
import Navigation from '~components/Navigation.astro'
import {LanguageSwitcher} from '~components/Modal/LanguageSwitcher'
import Head from './Head.astro'
import {IS_PROD} from '#scripts/env'

import '~styles/base.css'

const {
  class: mainClasses,
  title,
  description,
  lang = 'en',
  hideLangModal,
  align = 'justify-center',
} = Astro.props
---

<!DOCTYPE html>
<html lang={lang} class='scroll-smooth bg-dark'>
  <head>
    <Head title={title} description={description} />
    {IS_PROD && <script defer='defer' data-domain='whocards.cc' src='/js/script.js' />}
  </head>
  <body
    class='m-0 flex min-h-screen flex-col bg-hero bg-fixed bg-center bg-no-repeat font-sans text-white'
  >
    <Navigation>
      <main class:list={['flex min-h-screen w-full flex-col items-center', align, mainClasses]}>
        <slot />
      </main>
    </Navigation>
    {!hideLangModal && <LanguageSwitcher client:only />}
    <style is:global></style>
  </body>
</html>
