---
import {LanguageSwitcher} from '~components/Modal/LanguageSwitcher'
import Navigation from '~components/Navigation.astro'
import {IS_PROD} from '~constants/env'
import Head from './Head.astro'

import BackgroundImages from '~components/ui/BackgroundImages.astro'
import {mainLinks, type Link} from '~constants/navigation'
import '~styles/base.css'

export interface Props {
  class?: string
  title?: string
  description?: string
  lang?: string
  showLangModal?: boolean
  links?: Link[]
}

const {
  class: mainClasses,
  title,
  description,
  lang = 'en',
  showLangModal = false,
  links = mainLinks,
} = Astro.props
---

<!doctype html>
<html lang={lang} class='scroll-smooth bg-darkest'>
  <head>
    <Head title={title} description={description} />
    {IS_PROD && <script defer='defer' data-domain='whocards.cc' src='/js/script.js' />}
  </head>
  <body class='m-0 flex min-h-screen flex-col font-sans text-white'>
    <Navigation links={links}>
      <span class='h-screen w-screen -z-10 overflow-hidden absolute top-0 right-0 left-0 bottom-0'>
        <BackgroundImages />
      </span>
      <main
        class='flex min-h-screen pt-16 w-full flex-col items-center justify-center'
        class:list={[mainClasses]}
      >
        <slot />
      </main>
    </Navigation>
    {showLangModal && <LanguageSwitcher client:only />}
    <style is:global></style>
  </body>
</html>
