---
import type { Language, QuestionId } from 'types/Questions'
import languages from 'public/data/languages.json'

export interface Props {
  title: string
  id: QuestionId
  lang: Language
}

const { title: t, id, lang } = Astro.props
const {props} = Astro
const title = id ? `WhoCards | ${languages[lang as Language]} | Question ${id}` : t
const imgUrl = Astro.url.origin + (id ? `/data/images/${lang}/${id}.png` : 'TODO ADD')
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon-light.svg'
      media='(prefers-color-scheme: light)'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon-dark.svg'
      media='(prefers-color-scheme: dark)'
    />
    <meta name='generator' content={Astro.generator} />
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title}>
    <meta name="description" content="Open Up?">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content={Astro.url}>
    <meta property="og:title" content={title}>
    <meta property="og:description" content="Open Up?">
    <meta property="og:image" content={imgUrl}>
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="822">
    <meta property="og:locale" content={lang}>

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content={Astro.url}>
    <meta property="twitter:title" content={title}>
    <meta property="twitter:description" content="Open Up?">
    <meta property="twitter:image" content={imgUrl}>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
