---
// prettier-ignore
import GameControls from '~components/GameControls'
import questions from '~data/questions.json'
import Layout from '~layouts/Layout.astro'

export async function getStaticPaths() {
  // loop through questions
  return Object.entries(questions).map(([id, entries]) =>
    // loop through languages in each question
    Object.entries(entries).map(([language, question]) => ({
      params: {id, language},
      props: {question},
    }))
  )
}

const {question} = Astro.props
const {language} = Astro.params
---

<Layout lang={language} class='mt-16 min-h-fit md:min-h-screen'>
  <div
    id='question'
    class='flex h-full w-full items-center px-4 pb-[10%] font-semibold text-white md:px-8 md:text-7xl lg:max-w-[1140px] xl:px-0 phone-landscape:text-2xl'
    class:list={[question.length < 90 ? 'text-5xl' : 'text-4xl']}
  >
    <h1 class='whitespace-pre-wrap leading-tight' transition:animate='slide'>{question}</h1>
  </div>
  <GameControls language={language} transition:persist />
</Layout>

<script define:vars={{language}}>
  const {direction} = new Intl.Locale(language).textInfo
  document.getElementById('question').setAttribute('dir', direction)
  document.getElementsByTagName('html')[0].lang = language
</script>
