---
// prettier-ignore
import GameControls from '~components/GameControls'
import questions from '~data/questions.json'
import Layout from '~layouts/Layout.astro'

export async function getStaticPaths() {
  // loop through questions
  return Object.entries(questions).flatMap(([id, entries]) =>
    // loop through languages in each question
    Object.entries(entries).map(([language, question]) => ({
      params: {id, language},
      props: {question},
    }))
  )
}

const {question} = Astro.props
const {language} = Astro.params
---

<Layout lang={language} showLangModal newBg>
  <div
    id='question'
    class='flex h-full w-full items-center px-4 pb-[10%] text-5xl font-semibold text-white md:px-8 md:text-7xl lg:max-w-[1140px] xl:px-0 phone-landscape:text-2xl xs:text-3xl'
  >
    <h1 class='whitespace-pre-wrap leading-tight'>{question}</h1>
  </div>
  <GameControls language={language} />
</Layout>

<script define:vars={{language}}>
  const {direction} = new Intl.Locale(language).textInfo
  document.getElementById('question').setAttribute('dir', direction)
</script>
